// Variables
$primary-color: #171D5B;
$second-color: #F5F5F5;
$third-color: #BDBDBD;
$fourth-color: #EEA820;
$fifth-color: #DC5224;
$sixth-color: #757575;
$gradient: linear-gradient(to right, $primary-color, $second-color);
